# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
picture
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
src/types/components.d.ts
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/types/components.d.ts

public

.vscode

/src/types